<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-start h-100">
    <div class="col col-xl-10">
      <div class="card border-primary" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-7 d-flex align-items-start">
            <div class="card-body p-4 p-lg-5 text-black">
              <h2>Contact</h2>
              <p> Do you want to contact us because you:</p>
              <ul>
                <li>💡 Have an idea for a new question?</li>
                <li>🐞 Found a bug?</li>
                <li>❔️ Have a feature request?</li>
                <li>💬 Have feedback or questions?</li>
                <li>👍🏼 Want to give us kudos?</li>
                <li>♾️ Anything else?</li>
              </ul>
              <p>Just send us an e-mail at <a href="mailto:interactivebaseballquiz@gmail.com">interactivebaseballquiz&#64;gmail.com</a>!</p>

            </div>
          </div>
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="/img/bunt.jpg" alt="bunting" class="img-fluid h-100"
                 style="border-radius: 0 1rem 1rem 0;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
