<div class="card mb-2" style="max-width: 350px;">
  <div class="card-body">
    <table aria-hidden="true">
      <tr>
        <td>
          @if (this.edit) {
            <div class="d-flex align-items-center">
              <!-- Balls -->
              <div class="input-group me-2">
                <span class="input-group-text" id="ballsLabel">B</span>
                <input type="number" class="form-control slim"
                       id="balls" name="balls"
                       required
                       [(ngModel)]="currentGameState.balls">
              </div>

              <!-- Strikes -->
              <div class="input-group me-2">
                <span class="input-group-text" id="strikesLabel">S</span>
                <input type="number" class="form-control slim"
                       id="strikes" name="strikes"
                       required
                       [(ngModel)]="currentGameState.strikes">
              </div>

              <!-- Outs -->
              <div class="input-group">
                <span class="input-group-text" id="outsLabel">O</span>
                <input type="number" class="form-control"
                       id="outs" name="outs"
                       required
                       [(ngModel)]="currentGameState.outs">
              </div>
            </div>

            <div class="input-group mb-3 p-2">
              <label for="r1" class="form-check-label me-2">R1:</label>
              <input type="checkbox" class="form-check-input me-3"
                     id="r1" name="r1"
                     required
                     [(ngModel)]="currentGameState.runnerBase1">
              <label for="r2" class="form-check-label me-2">R2: </label>
              <input type="checkbox" class="form-check-input me-3"
                     id="r2" name="r2"
                     required
                     [(ngModel)]="currentGameState.runnerBase2">
              <label for="r3" class="form-check-label me-2">R3:</label>
              <input type="checkbox" class="form-check-input me-3"
                     id="r3" name="r3"
                     required
                     [(ngModel)]="currentGameState.runnerBase3">
            </div>
          } @else {
            {{ runners() }}, {{ currentGameState.outs }} out, count {{ currentGameState.balls }}-{{ currentGameState.strikes }}
          }
        </td>
      </tr>
    </table>
  </div>
</div>
