<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-start h-100">
    <div class="col col-xl-10">
      <div class="card border-primary" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-7 d-flex align-items-start">
            <div class="card-body p-4 p-lg-5 text-black">
              <h2 i18n="@@about.title">About us</h2>
              <p i18n="@@about.inspiration">
                This app is inspired by https://quiz.thetasoft.com/ and built as an educational project by two trainees
                from the Dutch Tax Service, together with two experienced Dutch umpires who work for the Dutch Baseball
                Association KNBSB.
              </p>
              <p i18n="@@about.rules">
                The questions are based on the most recent OBR rules, generic for every country in the world.
              </p>
              <p i18n="@@about.version">
                This is the first version of the app. We have many ideas for new features, like
              </p>
              <ul>
                <li i18n="@@about.feature.language">Choose language</li>
                <li i18n="@@about.feature.suggest">Suggest question</li>
                <li i18n="@@about.feature.progress">Keep personal progress</li>
              </ul>
              <p i18n="@@about.ideas">
                More ideas are much appreciated. Please <a routerLink="/contact">contact us</a>. Have fun!
              </p>
              <p i18n="@@about.regards">
                Best regards, <BR> Chris, Wytse, Finn and Bram.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="/img/about.jpg" alt="homepage" i18n-alt="@@about.image.alt" class="img-fluid h-100"
                 style="border-radius: 0 1rem 1rem 0;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
