<div class="row g-3">
  <div class="col-3 my-auto">
    <div class="d-flex align-items-center gap-3">
      <label class="form-check-label d-flex align-items-center" routerLink="/questions/add">
        <i class="fa-solid fa-square-plus text-success"></i>
        <span class="mx-1">New</span>
      </label>
      <label for="all" class="form-check-label d-flex align-items-center">
        <span class="mx-1">All</span>
        <input type="checkbox" class="form-check-input" id="all" name="all" (click)="toggleAll()">
      </label>
      <label class="form-check-label d-flex align-items-center">
        <i class="fa-solid fa-bug mx-1"></i>
        <input type="checkbox" class="form-check-input" id="bug" name="bug" (click)="toggleBug()">
      </label>
    </div>
  </div>
  <div class="col-4 my-auto">
    <app-search placeholder="Search question..." (inputChanged)="handleSearchInputChanged($event)"
                (search)="handleSearch($event)"></app-search>
  </div>
  <div class="col-5">
    <mat-paginator [length]="totalItems" [pageIndex]="currentPage"
                   [showFirstLastButtons]="true" [hidePageSize]="false"
                   [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>

<div class="container mt-3 striped-list">
  <!-- Table Header -->
  <div class="row fw-bold border-bottom py-2">
    <div class="col-11 d-flex text-decoration-none clickable-group">
      <div class="col-fixed-small border-end pe-2 text-center">#</div>
      <div class="col-fixed border-end pe-2 text-center">Active</div>
      <div class="col-grow ps-2">Question</div>
    </div>
    <div class="col-1 text-center"><i class="fa-solid fa-gears"></i></div>
  </div>

  <!-- Table Body -->
  @for (q of questions; track $index) {
    <div class="row align-items-center py-2 border-bottom">
      <!-- Clickable Area for First Three Columns -->
      <a [routerLink]="'/questions/' + q.id"
         class="col-11 d-flex text-decoration-none clickable-group text-dark">
        <div class="col-fixed-small border-end pe-2 text-center">{{ q.id }}</div>
        <div class="col-fixed border-end pe-2 text-center">{{ q.enabled }}</div>
        <div class="col-grow ps-2">{{ q.i18nValue.EN_US }}</div>
      </a>

      <!-- Action Buttons -->
      <div class="col-1 text-center">
        <div class="btn-group">
          <i (click)="remove(q.id)" class="m-1 fa-solid fa-trash pointer-hand" style="color: #cc0303;"></i>
        </div>
      </div>
    </div>
  }
</div>
