<div class="row g-1">
  <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 my-auto controls-col">
    <div class="d-flex justify-content-start align-items-center controls-container">
      <label class="form-check-label" routerLink="/questions/add" matTooltip="New question" i18n-matTooltip="@@questions.tooltip.new">
        <i class="fa-solid fa-square-plus text-success mx-1"></i>
      </label>
      <label for="all" class="form-check-label m-2" matTooltip="Include inactive questions" i18n-matTooltip="@@questions.tooltip.inactive">
        <i class="fa-solid fa-check-double"></i>
        <input type="checkbox" class="form-check-input mx-0" id="all" name="all" (click)="toggleAll()">
      </label>
      <label for="bug" class="form-check-label m-2" matTooltip="Find questions with errors" i18n-matTooltip="@@questions.tooltip.errors">
        <i class="fa-solid fa-bug mw-1"></i>
        <input type="checkbox" class="form-check-input mx-0" id="bug" name="bug" (click)="toggleBug()">
      </label>
      <app-select-difficulties [label]="'U'" [showIcon]="false" [levels]="levels" [singleSelect]="false" (choose)="select($event)"/>
    </div>
  </div>
  <div class="col-xl-6 col-lg-5 col-md-4 col-sm-5 my-auto">
    <app-search placeholder="Search question..." i18n-placeholder="@@questions.search.placeholder" (inputChanged)="handleSearchInputChanged($event)"
                (search)="handleSearch($event)"></app-search>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 my-auto radius">
    <mat-paginator [length]="totalItems" [pageIndex]="currentPage"
                   [showFirstLastButtons]="true" [hidePageSize]="false"
                   [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>

<div class="container striped-list">
  <!-- Table Header -->
  <div class="row fw-bold border-bottom py-2">
    <div class="col d-flex text-decoration-none clickable-group">
      <div class="col-fixed-small border-end pe-2 text-center" i18n="@@questions.header.id">#</div>
      <div class="col-fixed border-end pe-2 text-center" i18n="@@questions.header.active">Active</div>
      <div class="col-grow ps-2" i18n="@@questions.header.question">Question</div>
    </div>
  </div>

  <!-- Table Body -->
  @for (q of questions; track $index) {
    <div class="row align-items-center py-2 border-bottom">
      <!-- Clickable Area for First Three Columns -->
      <a [routerLink]="'/questions/' + q.id"
         class="col-11 d-flex text-decoration-none clickable-group text-dark">
        <div class="col-fixed-small border-end pe-2 text-center">{{ q.id }}</div>
        <div class="col-fixed border-end pe-2 text-center">{{ q.enabled }}</div>
        <div class="col-grow ps-2">{{ q.i18nValue.EN_US }}</div>
      </a>

      <!-- Action Buttons -->
      <div class="col-1 text-center">
        <div class="btn-group">
          <i (click)="remove(q.id)" class="m-1 fa-solid fa-trash pointer-hand" style="color: #cc0303;" i18n-title="@@questions.action.delete" title="Delete question"></i>
        </div>
      </div>
    </div>
  }
</div>
