<div class="row">
  <div class="col-2 my-auto" routerLink="/questions/add"><i class="fa-solid fa-square-plus" style='color: #177b00;'></i>
    New
  </div>
  <div class="col-5 my-auto">
    <app-search placeholder="Search question..." (search)="handleSearch($event)"></app-search>
  </div>
  <div class="col-5">
    <mat-paginator [length]="totalItems" [pageIndex]="currentPage"
                   [showFirstLastButtons]="true" [hidePageSize]="false"
                   [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Question</th>
      <th class="text-center"><i class="fa-solid fa-gears"></i></th>
    </tr>
  </thead>
  <tbody>
    @for (q of questions; track $index) {
      <tr>
        <td id="id" routerLink="{{q.id}}">{{ q.id }}</td>
        <td>{{ q.i18nValue.EN_US }}</td>
        <td>
          <div class="btn-group">
            <i routerLink="{{q.id}}" class="m-1 fa-solid fa-circle-info" style='color: #176000;'></i>
            <i routerLink="/questions/{{q.id}}" class="m-1 fa-solid fa-pen-to-square pointer-hand" style='color: #0044aa;'></i>
            <i (click)="remove(q.id)" class="m-1 fa-solid fa-trash pointer-hand" style='color: #cc0303;'></i>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

