<div class="col-md-12 col-lg-12 d-flex flex-column flex-md-row mb-4">
  <div class="card p-0 p-lg-0 text-black border w-100">
    <div class="card-header">
      Question {{ currentQuestionIndex + 1 }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ currentQuestion.question.NL_NL }}</h5>
      <ul class="list-group">
        <li class="list-group-item" style="background-color: var(--bs-card-cap-bg);">Answers:</li>
        <li *ngFor="let answer of currentQuestion.answers" class="list-group-item click" id="{{answer.id}}"
            (click)="selectAnswer(answer.id)" [ngClass]="{'list-group-item-primary': isSelected(answer.id)}">
          {{ answer.answer.NL_NL }}
        </li>
      </ul>
    </div>
  </div>

  <div class="card p-0 p-lg-0 text-black w-sm-100 w-md-50 mt-3 m-0  mt-md-0 m-md-3 mb-md-0 ma-md-5">
    <div class="card-header">
      <h5 class="card-title">Stats</h5>
    </div>
    <div class="card-body">
      <p>Questions answered: {{ questionsAnswered }}/{{ questions.length }}</p>
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<nav aria-label="Page navigation mt-5">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentQuestionIndex === 0">
      <a class="page-link click" (click)="prevQuestion()">Previous</a>
    </li>
    <li *ngFor="let question of questions; let i = index" class="page-item"
        [ngClass]="{'active': currentQuestionIndex === i}"
        [class.bg-primary]="isAnswered(i)">
      <a class="page-link click" (click)="goToQuestion(i)"
         [ngClass]="{'bg-secondary text-white': isAnswered(i) && currentQuestionIndex !== i}">{{ i + 1 }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentQuestionIndex === questions.length - 1">
      <a class="page-link click" (click)="nextQuestion()">Next</a>
    </li>
  </ul>
</nav>
