<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <h1>Umpire Quiz</h1>
                            <p>
                                This interactive quiz has over 300 questions (and growing). These questions have been
                                collected from all over the place. Feel free to send more my way!</p>
                            <p>
                                The database of questions started out as a learning aid for umpires working Little
                                League
                                games at the majors and below. Over the years, its expanded to included
                                Junior/Senior/Big
                                League and Softball. This year, the database expands yet again to include Federation
                                High
                                School rules (NFHS)!
                            </p>
                            <p>
                                For each question, I try to cite the rule. When the question was written (barring
                                dyslexia),
                                the correct rule was cited. As rule books change, the rule numbers sometimes drift, so
                                you
                                might have to look around a little to find the exact rule. If a ruling is the same for
                                Fed
                                and OBR, I only cite the OBR rule. If there's something special for Fed, I'll cite the
                                Fed
                                rule.
                            </p>
                            <p>
                                Some of these questions are specific to High School or Little League, a particular level
                                of
                                Little League or even a specific local Little League. You can choose to filter out these
                                questions using the options below. If a question doesn't apply to all baseball/softball,
                                it
                                will note what it does apply to. (If nothing is noted, the rule is the same for all
                                associations, all levels)
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="/img/batter-action.webp" alt="login form" class="img-fluid h-100"
                            style="border-radius: 0 1rem 1rem 0;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>