<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-start h-100">
    <div class="col col-xl-10">
      <div class="card border-primary" style="border-radius: 1rem;">
        <div class="row g-0">
          <div class="col-md-6 col-lg-7 d-flex align-items-start">
            <div class="card-body p-4 p-lg-5 text-black">
              <h1 i18n="@@home.welcome">Welcome, baseball fan!</h1>
              <p i18n="@@home.description">
                This interactive baseball quiz has many questions on the rules of baseball (OBR).
                It's meant for everybody who wants to practice their knowledge of the rules, like umpires,
                players and coaches.
              </p>
              <p>
                <button class="btn btn-primary" routerLink="/quiz" i18n="@@home.startButton">Start a quiz!</button>
              </p>
              <p i18n="@@home.count">
                  The questions vary in difficulty, corresponding to U1-U4 levels (1 = beginner, 4 = veteran). The current
                  question count is:
              </p>
              <ul>
                @for (c of questionCount$ | async; track $index) {
                  <li>{{ c.difficulty }}: {{ c.count }}</li>
                }
              </ul>
              <p i18n="@@home.explore">
                Explore the menu to <b>learn more</b>. Have fun learning!
              </p>

              <h4 i18n="@@home.news.title">News</h4>
              <ul>
                <li>
                  <h6 i18n="@@home.news.date5">2026-02-09</h6>
                  <span i18n="@@home.news.item5">Added the question counter.</span>
                </li>
                <li>
                  <h6 i18n="@@home.news.date4">2025-05-15</h6>
                  <span i18n="@@home.news.item4">App is now in Dutch 🔴🤍🔵 too.</span>
                </li>
                <li>
                  <h6 i18n="@@home.news.date3">2025-05-08</h6>
                  <span i18n="@@home.news.item3">Links 🔗 (for example to YouTube) can appear in the answers.</span>
                </li>
                <li>
                  <h6 i18n="@@home.news.date2">2025-02-17</h6>
                  <span i18n="@@home.news.item2">You can select the difficulty level 🤔❓ when starting a quiz.</span>
                </li>
                <li>
                  <h6 i18n="@@home.news.date1">2025-01-20</h6>
                  <span i18n="@@home.news.item1">You can now report an error (in a question or answers). <BR>Just click the <i
                    class="fa-solid fa-bug"></i> icon whenever you see it!</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 d-none d-md-block">
            <img src="/img/batter-action.webp" alt="homepage" i18n-alt="@@home.image.alt" class="img-fluid h-100"
                 style="border-radius: 0 1rem 1rem 0;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
