<div class="dropdown m-2">
  <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img ngSrc="/img/flags/{{selectedLang}}.png" height="18" width="24"/>
  </button>
  <ul class="dropdown-menu dropdown-menu-compact">
    <li class="dropdown-item" (click)="switchLang('en')"><img ngSrc="/img/flags/en.png" height="18" width="24"/></li>
    <li class="dropdown-item" (click)="switchLang('nl')"><img ngSrc="/img/flags/nl.png" height="18" width="24"/></li>
<!--    <li class="dropdown-item" (click)="select('fr')"><img ngSrc="/img/flags/fr.png" height="18" width="24"/></li>-->
  </ul>
</div>
