<div class="row">
  <div class="col-12">
    <div class="card p-0 text-black border w-100 mb-2">
      <h5 class="card-header">
        Ready?
      </h5>
      <div class="card-body">
        <p>The next quiz has five <b>random</b> questions. Answer them all, then click "Finish" to see the results.</p>
        <p>You can play as often as you want. Each time, you get different questions.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card p-0 text-black border w-100 mb-2">
      <h5 class="card-header">
        Options
      </h5>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="input-group mb-3 p-2">
            <label class="pe-2"><span>Difficulty level</span></label>
            <label for="u1" class="form-check-label me-2">1</label>
            <input type="checkbox" class="form-check-input me-3"
                   id="u1" name="u1"
                   [(ngModel)]="level.u1">
            <label for="u2" class="form-check-label me-2">2</label>
            <input type="checkbox" class="form-check-input me-3"
                   id="u2" name="u2"
                   [(ngModel)]="level.u2">
            <label for="u3" class="form-check-label me-2">3</label>
            <input type="checkbox" class="form-check-input me-3"
                   id="u3" name="u3"
                   [(ngModel)]="level.u3">
            <label for="u4" class="form-check-label me-2">4</label>
            <input type="checkbox" class="form-check-input me-3"
                   id="u4" name="u4"
                   [(ngModel)]="level.u4">
          </div>
          <div>
            <a routerLink="play">
              <button class="btn btn-primary" (click)="clearQuiz()">Start!</button>
            </a>
          </div>
          @if (quizInProgress()) {
            <hr/>
            <p>
              To continue your quiz in progress:
            </p>
            <a routerLink="play">
              <button class="btn btn-outline-primary">Continue quiz</button>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</div>
