<div class="row">
  <div class="col-12">
    <div class="card p-0 text-black border w-100 mb-2">
      <h5 class="card-header" i18n="@@quiz.home.ready">
        Ready?
      </h5>
      <div class="card-body">
        <p i18n="@@quiz.home.description">The next quiz has five <b>random</b> questions. Answer them all, then click
          "Finish" to see the results.</p>
        <p i18n="@@quiz.home.play.often">You can play as often as you want. Each time, you get different questions.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card p-0 text-black border w-100 mb-2">
      <h6 class="card-header" i18n="@@quiz.home.options">
        Options
      </h6>
      <div class="card-body">
        <app-select-difficulties [levels]="levels"/>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="newQuiz()" i18n="@@quiz.home.start">Start!</button> <span class="badge text-bg-danger m-2">{{message}}</span>
    </div>
    @if (quizInProgress()) {
      <hr/>
      <p i18n="@@quiz.home.continue.text"> To continue your quiz in progress: </p>
      <button class="btn btn-outline-primary" (click)="play()" i18n="@@quiz.home.continue.button">Continue quiz</button>
    }
  </div>
</div>
