.click:hover {
  cursor: pointer;
  background-color: rgba(13, 110, 253, 0.52);
  color: white;
}

.click:focus {
  cursor: pointer;
  background-color: rgba(13, 110, 253, 0.52);
  color: white;
}

#checkHead {
  background-color: green;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
