<div class="card border-secondary my-2">
  <div class="card-header d-flex align-items-center">
    <div class="col-11">
      <h6 class="mb-0">Answer</h6>
    </div>
    @if (!edit) {
      <div class="col-1 text-end" matTooltip="Report error">
        <i class="fa-solid fa-bug" data-bs-toggle="modal" [attr.data-bs-target]="'#'+modalId()"></i>
      </div>
    }
    <!-- Modal -->
    <div class="modal fade" [attr.id]="modalId()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5" id="exampleModalLabel">Report error</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <p>Thank you for helping us improve this question 💪🏼!</p>
              <label for="message-text" class="col-form-label">Please tell us what's wrong (optional):</label>
              <textarea class="form-control" id="message-text" [(ngModel)]="message"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <div type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</div>
            <div type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="reportError()">Submit</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group mt-1">
      @if (edit) {
        <li class="list-group-item">
          <div class="input-group">
            <label for="checkHead" class="form-check-label m-2">
              <input type="checkbox" class="form-check-input p-1" id="checkHead" disabled/>
            </label>
            <input type="text" class="form-control" value="EN" disabled>
            <input type="text" class="form-control" value="NL" disabled>
          </div>
        </li>
        @for (answer of answers; track $index) {
          <li class="list-group-item">
            <div class="input-group">
              <label for="{{answer.id}}" class="form-check-label m-2">
                <input type="radio" class="form-check-input p-1" name="ans" [checked]="isCorrectAnswer($index)"
                       (change)="setCorrectAnswer($index)">
              </label>
              <input type="text" class="form-control" id="{{answer.id}}"
                     [(ngModel)]="answer.i18nValue.EN_US" name="{{answer.id}}"/>
              <input type="text" class="form-control" id="{{answer.id}}"
                     [(ngModel)]="answer.i18nValue.NL_NL" name="{{answer.id}}"/>
            </div>
          </li>
        }
        <div class="input-group">
          <label class="form-check-label m-2" (click)="newAnswer()">
            <i class="fa-solid fa-square-plus" style='color: green;'></i>
          </label>
        </div>
      } @else if (results) {
        @for (answer of answers; track $index) {
          <li class="list-group-item"
              [class]="wasAnsweredCorrectly(this.questionId, answer.id)">{{ answer.i18nValue.EN_US }}
          </li>
        }
      } @else {
        Select one option
        @for (answer of answers; track $index) {
          <li class="list-group-item click"
              id="{{answer.id}}"
              (click)="selectAnswer(answer.id)"
              (keyup)="selectAnswerKeyboardWrapper(answer.id, $event)" tabindex="{{$index+1}}"
              [ngClass]="{'list-group-item-primary': isSelected(answer.id)}">{{ answer.i18nValue.EN_US }}
          </li>
        }
      }
    </ul>
    @if (!results && !edit) {
      @if (!isLastQuestion) {
        <button class="btn btn-primary my-2" (click)="onNext()">
          Next
        </button>
      } @else {
        <button [ngClass]="allAnswered() ? 'btn btn-success my-2':'btn btn-warning my-2'" (click)="onFinish()">
          Finish{{ allAnswered() ? '!' : '?' }}
        </button>
        <span *ngIf="!allAnswered()" class="badge text-bg-danger m-2">
           not all questions are answered!
        </span>
      }
    }
  </div>
</div>
